<form id="add_multi_field" action="/multi_field?content_type=<%= params[:content_type]%>" method="post" accept-charset="utf-8">

<%= hidden_field_tag 'asset_id', params["asset_id"] %>
<%= hidden_field_tag 'fields', @fields %>
<%= hidden_field_tag 'datastream_name', @datastream_name %>
<% field_array = eval "[" + @fields + "]" %>
<% new_field = "" %>
<% field_array.each_with_index do |field,i|  %>
  <% if i == field_array.length - 1 %>
		<% if field_array.length == 1 %>
			<% new_field = new_field + "{" + ":" + field.to_s + "=>" + @next_field_index.to_s + "}" %>
		<% else %>
  		<% new_field = new_field + "{" + @next_field_index.to_s + "=>:" + field.to_s + "}" %>
		<% end %>
  <% else %>
     <% new_field = new_field + "{" + ":" + field.to_s + "=>0}," %>
  <% end %> 
<% end %>
<dl>
	 <dt>
      <%= eval 'fedora_field_label("descMetadata", [' + new_field + '], "Add new " + @field_label )' %>
 		</dt>
   </dt>
   <dd>
  		<%= eval 'fedora_text_field(@document_fedora,@datastream_name, [' + new_field + '], :multiple=>false)' %>
	 <dd>
</dl>

<div class="form-control"><%= submit_tag "Add Field", {:id => "addMultiField"} %></div>

</form>
