<%= form_for :grant_number, :url=>grant_numbers_path(:content_type=>params[:content_type]), :id=>"add_grant_number" do %>

<%= hidden_field_tag 'asset_id', params["asset_id"] %>

<dl>
	 <dt>
		<%= fedora_field_label("descMetadata", [{:grant_number=>@next_grant_number_index}], "Add a new grant") %>
   </dt>
   <dd class="multi_inline grant">
 	    <%= fedora_text_field(@document_fedora,"descMetadata", [{:grant_number=>@next_grant_number_index}], :multiple=>false) %>
	 <dd>
</dl>

<div class="form-control"><%= submit_tag "Add Grant", {:id => "addGrantNumber"} %></div>

<% end %>
