<div id="title_div" style="float:left;width:600px;"><h2><%= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %></h2></div>
<div id="content_div">
<dl id="index_list">
  <% authors = get_persons_from_roles(document, ['creator','author']).map {|person| person[:name]}  %>
  <dt><%= pluralize(authors.count,"Author")[2..-1] %></dt>
    <dd>
      <%= authors.join("; ") %>
    </dd>
	<dt>Resource type</dt>
	<dd>
    <%= document.get(:genre_t) %>
	</dd>
  <dt>Subject</dt>
    <dd>
    <%= document.get(:subject_topic_t, :sep=>';') %>
    </dd>
  <dt>Language</dt>
    <dd>
      <%= document.get(:language_lang_text_t) %>
    </dd>
  </dl>
</div>
<div id="genre_image" class="event-genre" ></div>
