<div id="title_div" style="float:left;width:600px;"><h2><%= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %></h2></div>
<div id="content_div">
	<dl id="index_list">
  	<dt>Resource type</dt>
	<dd>
    <%= document.get(:genre_t) %>
	</dd>
  <% if document.get(:subject_topic_t)  %>
     <dt><%= pluralize(document.get(:subject_topic_t, :sep=>';').count(';') + 1,"Subject")[2..-1] %></dt>
       <dd>
         <%= document.get(:subject_topic_t, :sep=>'||').split("||").uniq.join("; ") %>
       </dd>
   <%end%>
  <% if document.get(:description_t)  %>
     <dt>Description</dt>
       <dd>
				 <%= document.get(:description_t)[0..document.get(:description_t)[0..150].rindex(' ')] + " ..." %>
       </dd>
	 <% end %>
   <% if document.get(:language_lang_text_t)  %>
     <dt>Language</dt>
       <dd>
         <%= document.get(:language_lang_text_t) %>
       </dd>
   <% end %>
  </dl>
</div>

