<div class="document_viewer" id="cover_container">
  <div class="content-type-header"><h1><%= @document["genre_t"] %></h1></div>
  <%= render :partial => 'datasets/show_description' %>
  <%= render :partial => 'shared/show_downloads' %>
  <%= render :partial => 'shared/show_links' %>
  <%= render :partial => 'datasets/show_resources' %>
</div>


