<% content_for :google_maps do %>
  <%= javascript_include_tag 'google_maps' %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBon_Xir10TbJNA0vzYJ1cJFZvChVS-dcI&sensor=false"></script>

<% end %>

<div class="document_viewer" id="cover_container">
  <div class="content-type-header"><h1><%= @document["genre_t"] %></h1></div>
  <%= render :partial => 'datasets/show_description' %>
  <%= render :partial => 'shared/show_downloads' %>
  <%= render :partial => 'shared/show_links' %>
  <%= render :partial => 'shared/show_resources' %>
</div>


