
<div class="object_control">
  <%= render :partial => "shared/submit_to_publish" %>
</div>
<div class="object_control">
  <%= render :partial => "shared/submit_to_hidden" %>
</div>
<!-- Only one of the following buttons will render depending on which queue the object is in -->
<div class="object_control">
  <%= render :partial => "shared/submit_to_deleted" %>
</div>
<div class="object_control">
  <%= render :partial => "shared/delete_asset_link" %>
</div>



<hr class="separator"/>


<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"generic_video")%>" method="post" data-resourceType="generic_video" accept-charset="utf-8" onsubmit="return setLanguageText()" >
  <% @content_type = "generic_video" %>
  <input type="hidden" name="content_type" value="generic_video" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <%= fedora_hidden_field(@document_fedora, "descMetadata", [:language, :lang_text], :multiple=>false, :forced_values=>[""]) %>

  <%= render :partial=> 'shared/edit_generic_av_content_description' %>

  <%= render :partial=> 'shared/edit_generic_av_contributors' %>

  <%= render :partial=> 'shared/edit_generic_av_publication' %>

  <%= render :partial=> 'shared/edit_admin_metadata' %>

  <input type="hidden"  name="_method" value="put"/>
  <div>
    <div class="form-control">
      <%= submit_tag "Save Metadata" %>
    </div>
  </div>
</form>


<%= render :partial => "shared/compound_resources" %>


