- conference = edit_conference
- conference_counter = edit_conference_counter
- base_id = "conference_#{conference_counter}"

%span.conference.contributor{:id=>base_id}
  - if params[:action] == "edit"
    / Generate only the field selectors and delete button for this person entry
    = field_selectors_for("descMetadata", [{:person=>conference_counter}])
    %a.destructive.contributor{:href=>asset_contributor_path(@document_fedora.pid, "conference", conference_counter)} X
  
  %ol.multi_inline{:id=>"#{base_id}_role_and_name"}
    %li
      %dl
        %dt
          = fedora_field_label("descMetadata", [{:conference=>conference_counter}, :role, :text], "Role:")
        %dd{:id=>"#{base_id}_role"}
          = fedora_select(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :role, :text], :choices=>Hydra::ModsArticle.common_relator_terms.values)
    %li
      %dl
        %dt
          = fedora_field_label("descMetadata", [{:conference=>conference_counter}, :namePart], "Conference:")
        %dd{:id=>"#{base_id}_role"}
          = fedora_text_field(@document_fedora,"descMetadata", [{:conference=>conference_counter}, :namePart], :multiple=>false)