%div.accordion-section
  %form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article"), :method=>"post", "accept-charset"=>"utf-8"}

    =# hidden_form_tag "content_type", :value=>"hydrangea_article"
    
    = editable_metadata_field(@document_fedora, "descMetadata", :title, :label => "Title:")
    = editable_metadata_field(@document_fedora, "descMetadata", :language, :label => "Language:")
    
    = editable_metadata_field(@document_fedora, "descMetadata", :person, :label => "Researcher(s):", :multiple=>true) 
    = editable_metadata_field(@document_fedora, "descMetadata", :person_contact_info, :label => "Researcher Contact Info:", :multiple=>true) 
    = editable_metadata_field(@document_fedora, "descMetadata", :person_organization, :label => "Researcher Organization:", :multiple=>true) 
    
    = editable_metadata_field(@document_fedora, "descMetadata", :abstract, :label => "Abstract:", :type=>:text_area)
    
    = editable_metadata_field(@document_fedora, "descMetadata", :journal_title, :label => "Journal Title:")
    = editable_metadata_field(@document_fedora, "descMetadata", :publisher, :label => "Publisher:")
    = editable_metadata_field(@document_fedora, "descMetadata", :issn, :label => "ISSN:")
    = editable_metadata_field(@document_fedora, "descMetadata", :publication_date, :label => "Publication Date:")
    = editable_metadata_field(@document_fedora, "descMetadata", :citation_volume, :label => "Volume:")
    = editable_metadata_field(@document_fedora, "descMetadata", :citation_issue, :label => "Issue:")
    = editable_metadata_field(@document_fedora, "descMetadata", :start_page, :label => "Start Page:")
    = editable_metadata_field(@document_fedora, "descMetadata", :end_page, :label => "End Page:")
    
    = editable_metadata_field(@document_fedora, "descMetadata", :original_url, :label => "Original URL:")
    
    = editable_metadata_field(@document_fedora, "descMetadata", :topic_tag, :label => "Topic Tags:")
