- organization = edit_organization
- organization_counter = edit_organization_counter
- base_id = "organization_#{organization_counter}"

%span.organization.contributor{:id=>base_id}
  %ol.multi_inline{:id=>"#{base_id}_role_and_name"}
    %li
      %dl
        - organization_role = editable_metadata_field(@document_fedora, "descMetadata", [{:organization => organization_counter}, :role], :label => "Role:")
        %dt
          %label{:for=>"organization_role"}
            = organization_role[:label]
        %dd#organization_role
          = organization_role[:field] 
    %li
      %dl  
        - organization_name = editable_metadata_field(@document_fedora, "descMetadata", [{:organization => organization_counter}, :namePart], :label => "Organization:", :multiple=>true)
        %dt
          %label{:for=>"organization_name"}
            = organization_name[:label]
        %dd#organization_name
          = organization_name[:field]

