- journal = edit_journal
- journal_counter = edit_journal_counter
- base_id = "journal_#{journal_counter}"

%dl
  %dt
    = fedora_field_label("descMetadata", [{:journal => journal_counter}, :title_info, :main_title], "Journal Title:")
  %dd
    = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter}, :title_info, :main_title])

%ol#journal_publisher_and_issn.multi_inline
  %li
    %dl
      %dt
        = fedora_field_label("descMetadata", [{:journal => journal_counter},:origin_info, :publisher], "Publisher:")
      %dd
        = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:origin_info, :publisher])
  %li
    %dl
      %dt
        = fedora_field_label("descMetadata", [{:journal => journal_counter}, :issn], "ISSN:")
      %dd
        = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter}, :issn])

%ol#journal_publication_date_and_citation.multi_inline
  %li
    %dl
      %dt
        = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:publication_date], "Publication Date:")
      %dd
        = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:publication_date])
  %li
    %dl
      %dt.multi_inline
        %label{:for=>"citation"}
          Citation:
      %dd#citation.multi_inline
        %ol#citation_fields
          %li.citation_volume
            = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:volume], "Volume:")
            = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:volume], :multiple=>false)
          %li.citation_issue
            = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:level], "(Issue):")
            = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:level], :multiple=>false)
          %li.start_page
            = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:start_page], "Start Page")
            = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:start_page], :multiple=>false)
          %li.end_page
            = fedora_field_label("descMetadata", [{:journal => journal_counter},:issue,:end_page], "End Page")
            = fedora_text_field(@document_fedora,"descMetadata", [{:journal => journal_counter},:issue,:end_page], :multiple=>false)