<%# default partial to display solr document fields in catalog show view -%>
<dl class="defList">
  <div class="floatRight side">
  <%= get_data_with_label(document, "Date:", 'date_t') %>  
  <%= get_data_with_label(document, "Document Type:", 'medium_t') %>
  <% if editor? %>
    <%= get_data_with_label(document, "Access:", 'access_t', :default=>"private") %>
  <% end -%>
  </div>
  <div style="float:left; width:250px;">
  <%= get_data_with_label(document, "Title:", 'title_t') %>
  <%= get_data_with_label(document, "Author:", 'creator_t') %>
  <%= get_data_with_label(document, "Stories:", 'story_t') %>
  <%= get_data_with_label(document, "Links:", 'relation_t') %>
  <%= get_data_with_label(document, "Series:", 'series_facet') %>
  <%= get_data_with_label(document, "Subseries:", 'subseries_facet') %>
  <%= get_data_with_label(document, "Box:", 'box_facet') %>
  <%= get_data_with_label(document, "Folder:", 'folder_facet') %>
  <%= get_data_with_label(document, "Access:", 'access_facet') %>
  <% callnums = get_callnum(document) %>
  <%= get_suppl_urls(document) %>  
  <%= show_formats(document['format']) %>
  <%#= get_toc(document.marc) %>
  
  <%= get_data_with_linked_label(document, "Tagged by Donor:", 'donor_tags_facet') %>
  <%= get_data_with_linked_label(document, "Tagged by Archivist:", 'archivist_tags_facet') %>
  </div>
</dl>