<%# default partial to display solr document fields in catalog show view -%>


<div class="document_viewer" id="cover_container">
  <%= render :partial => "documents/viewer" , :locals => {:document => document}%>
  <dl class="defList">
    <%= get_data_with_label(document, "ID:", 'id') %>
    <dt>Download:</dt>
    <dd id="downloads">
	  <ul>
        <% %>
      </ul>
    </dd>
    <%= get_data_with_label(document, "Copyright:", 'rights_t') %>
	<%= get_data_with_label(document, "Series:", 'series_facet') %>
	<%= get_data_with_label(document, "Subseries:", 'subseries_facet') %>
	<%= get_data_with_label(document, "Box:", 'box_facet') %>
	<%= get_data_with_label(document, "Folder:", 'folder_facet') %>
  </dl>
  <%#= link_to("view raw OCR", document_downloads_path(fedora_object.pid, :download_id=>ds.dsid)) %>
</div>
<div class="<%= params[:action]%>_details">
  <%= render :partial => "#{params[:controller]}/_#{params[:action]}_partials/salt_document_details", :locals => {:document => document}%>
</div>
<% sidebar_items << capture do %>
  <%= render :partial=>"location_browse_box", :locals => {:document => document} %>
  <%= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>"catalog/facets", :locals=>{:document=>document} %>
<% end %>

<%= async_load_tag(asset_downloads_path(params[:id]), 'downloads') %>