<%# default partial to display solr document fields in catalog index view -%>
<tr class="document <%= cycle("even","odd")%>">
  <td>
    <%= document.get(:date_t) %>
  </td>
  <td>
    <%= link_to_document(document, :label => :title_facet, :counter => (counter + 1 + @response.params[:start].to_i)) %>
  </td>
  <td>
    <%= document.get(:medium_t) %>
  </td>
  <td>
    <%= "#{document.get(:series_facet)}, #{document.get(:box_facet)}, #{document.get(:folder_facet)}" %>
  </td>
</tr>