<% resource = edit_resource %>
<% resource_counter = edit_resource_counter %>
<li>
  <%= fedora_text_field(@document_fedora,"contentMetadata",[{:resource=>resource_counter},:sequence],:multiple=>false, :html_options=>{:class => "resource-sequence"}) %>: 
  <%= fedora_text_field(@document_fedora,"contentMetadata",[{:resource=>resource_counter},:display_label],:multiple => false) %>
  <% object_id = get_values_from_datastream(@document_fedora, "contentMetadata",[{:resource=>resource_counter}, :resource_object_id]) %>
  <% ds_id = get_values_from_datastream(@document_fedora, "contentMetadata",[{:resource=>resource_counter}, :resource_ds_id])  %>
  <% file_name = get_values_from_datastream(@document_fedora, "contentMetadata", [{:resource=>resource_counter},:display_label]) %>
  <a href="/assets/<%= object_id%>/<%= ds_id%>"><%= file_name %></a>
  <%= link_to image_tag("/images/remove.png"), asset_file_asset_path(:container_id=>@document_fedora.pid, :id => object_id, :index=>resource_counter), :method=>:delete, :confirm=>"Are you sure you want to delete the file?" %>
  <%# :controller=>:file_assets,:action=>:destroy,:container_id=>@document_fedora.pid,:id=>object_id, :method=>:delete %>
</li>
