<fieldset class="edit-standard">
	<legend><span id="admin_metadata_span">Administrative Metadata</span></legend>
  <div id="admin_metadata_form" style="display: none">
   <dl>
      <div class="info-multiple">
        <div class="left">
          <div class="typeOfResource">
            <%= display_datastream_field(@document_fedora,"descMetadata", [:type_of_resource], "Type Of Resource", "display") %>
          </div>
        </div>
        <div class="right">
          <div class="genre">
             	<%= display_datastream_field(@document_fedora,"descMetadata", [:genre], "Genre", "display") %>
          </div>
        </div>
       </div>
		<%= display_datastream_field(@document_fedora,"descMetadata", [:physical_description, :mime_type], "Internet Media Type", "display") %>
    <div class="info-multiple">
        <div class="left">
          <div class="digitalOrigin">
           <%= display_datastream_field(@document_fedora,"descMetadata", [:physical_description, :digital_origin], "Digital Origin", "display") %>
          </div>
        </div>
        <div class="right">
          <div class="identifier">
             	<%= display_datastream_field(@document_fedora,"descMetadata", [:all_identifiers], "Identifiers", "display") %>
          </div>
        </div>
    </div>
		<%= display_datastream_field(@document_fedora,"descMetadata", [:location, :primary_display], "Splash URL", "display") %>
		<%= display_datastream_field(@document_fedora,"descMetadata", [:location, :raw_object], "Download URL", "display") %>
    <div class="info-multiple">
        <div class="left">
          <div class="depositor">
            <%= display_datastream_field(@document_fedora,"properties", [:depositor], "Depositor", "display") %>
          </div>
        </div>
        <div class="right">
          <div class="email">
             <%= display_datastream_field(@document_fedora,"properties", [:depositorEmail], "E-mail address", "display") %>
          </div>
        </div>
     </div>
		<%= display_datastream_field(@document_fedora,"descMetadata", [:record_info, :record_change_date], "Last Modified", "display") %>

    </dl>
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata",[:admin_note],"Resource status") %>
      </dt>
        <dd> 
        <%= fedora_text_field(@document_fedora,"descMetadata", [:admin_note], :multiple=>false) %>
      </dd>	
    </dl>
   <fieldset class="edit-standard">
		<dl>
	   		<dt>
      		<%= fedora_field_label("RELS-EXT",[:is_member_of], "Structural Set") %>
    		</dt>
    		<dd>
      		<%= select "Structural Set","",  StructuralSet.tree.options_for_nested_select, :selected=>@document_fedora.structural_set, :include_blank=>true, :class=>"structural-set-select"  %>
    		</dd>
        <dt>
          <%= fedora_field_label("RELS-EXT",[:is_member_of], "Display Set(s)") %>
        </dt>
        <dd>
          <%= select_tag "Display Set",  options_for_select(DisplaySet.tree.options_for_nested_select, @document_fedora.display_sets), :include_blank => true, :multiple=>true, :size=>5, :class=>"display-set-select"  %>
        </dd>
	  <dt>
      <%= fedora_field_label("RELS-EXT",[:is_member_of], "Harvesting Set") %>
    </dt>
    <dd>
      <%= select "Harvesting Set","",  HarvestingSet.tree.options_for_nested_select, :selected=>@document_fedora.harvesting_set, :include_blank => true, :class=>"harvesting-set-select"  %>
    </dd>
  	</dl>
  </fieldset>

 </div>
  </fieldset>
