<div class="yui-u first">
  <%= image_tag("rosette.jpg", :alt=>'',:id=>'rosette-img') %>
  <%- if request.env["HTTP_HOST"].include?("-test") -%>
    <%= link_to image_tag("searchworks-test.jpg", :alt=>'',:id=>'searchworks-img'), root_path %>
  <%- else -%>
	<%= link_to image_tag("searchworks.jpg", :alt=>'',:id=>'searchworks-img'), root_path %>
  <%- end -%>
  <% if params[:controller] == 'catalog' and params[:action] == 'index' %>
    <%= render 'shared/search_form', :localized_params=>params %>
  <% else  %>  
    <%= render 'shared/search_form', :localized_params=>session[:search] %>
  <% end %>  
</div>
<div class="yui-u">
  <div class="aboutLinks"> 
    <a href="http://lib.stanford.edu/searchworks">About SearchWorks</a> | 
    <%= link_to 'Feedback', feedback_path, {:id => 'feedbackLink', :name => 'feedback', :class => 'lightboxLink'}%>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>
<div id="util_links">
<span id="control_links">
  <% if !params[:q].to_s.empty? or !params[:f].to_s.empty? %>
    <%= link_to "Start Over", root_path %>
  <% elsif !params[:id].nil? %>
    <%= link_to "Start Over", root_path %>
  <% end %>
  <% if params[:action] == 'index' and params[:controller] == 'catalog' %>
    <% unless params[:q].to_s.empty? and params[:f].to_s.empty? %>
      <%= render 'catalog/constraints', :localized_params=>params %>
    <% end %>
  <% elsif params[:action] == 'show' and params[:controller] == 'catalog' %>
    <%= render 'catalog/constraints', :localized_params=>session[:search] %>
  <% end %>
  <% unless params[:id].nil? %>
    <span class="back_to_cat"><%= link_back_to_catalog :label=>'&laquo; Back to Search Results' %></span>
  <% end %>
</span>
<%= render :partial=>'/user_util_links' %>
</div>