<div id="title_div" style="float:left;width:600px;"><h2><%= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %></h2></div>
<div id="content_div">
	<dl id="index_list">
   <% authors = get_persons_from_roles(document, ['creator','author']).map {|person| person[:name]}  %>
  
   <% if authors.present? %>
     <dt><%= pluralize(authors.count,"Author")[2..-1] %></dt>
        <dd>
          <%= authors.join("; ") %>
        </dd>
   <% end %>
   <dt>Resource type</dt>
   <dd>
     <%= document[:genre_t] %>
   </dd>
   <% if document[:subject_topic_t]  %>
     <dt><%= pluralize(document[:subject_topic_t].count,"Subject")[2..-1] %></dt>
       <dd>
         <%= document[:subject_topic_t].uniq.sort.join("; ") %>
       </dd>
    <%end%>
   <% if document[:language_lang_text_t]  %>
     <dt>Language</dt>
       <dd>
         <%= document[:language_lang_text_t] %>
       </dd>
   <% end %>
   <% if document[:date_valid_t]  %>
     <dt>Valid date</dt>
       <dd>
         <%= document[:date_valid_t] %>
       </dd>
   <% end %>
  </dl>
</div>

