<hr class="separator"/>

<div id="file_assets">

  <fieldset class="edit-standard">
    <legend style="padding-bottom: 1em;">Assets</legend>
  </fieldset>

  <%# the following passes an :accept hash to the uploader file_field_tag which limits the type of file that can be uploaded %>

  <%= render :partial=>"fluid_infusion/uploader", :locals => {:uploader_options => {:accept => ['application/pdf','image/jpeg','image/tiff','image/gif','application/vnd.ms-excel','application/zip','text/csv','audio/x-ms-wmv'] }, :container_content_type=>"uketd_object" } %>
      
      
  <form id="content_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>@content_type)%>" method="post" data-resourceType="<%= @content_type%>" accept-charset="utf-8" >
    <input type="hidden" name="content_type" value="<%= @content_type%>" />
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <fieldset class="edit-half">
    <legend></legend>
    <dl>
      <%= render :partial=>"shared/edit_resource", :collection => @document_fedora.datastreams_in_memory["contentMetadata"].find_by_terms(:resource) %>
    </dl>
    </fieldset>
    <input type="hidden"  name="_method" value="put"/>
     <div>
      <div class="form-control">
        <%= submit_tag "Save assets" %>
      </div>
    </div>
  </form>
</div>
