<%- localized_params.nil? ? localized_params = {} : nil -%>
<div id="search">
  <% form_tag root_path, :method => :get do %>
    <h2 class="search"><%= label_tag(:q, "Search ") %></h2>
    <%= text_field_tag :q, localized_params[:qt] != "standard" ? localized_params[:q] : "" %>
    <noscript>
      <%= label_tag(:qt, " in ") %>
      <%= select_tag(:qt, options_for_select(search_fields, h(localized_params[:qt])), :title => "Targeted search options") %>
    </noscript>
    <span id="spec_search" style="display:none;">
      <%= image_tag('search-button.png', :alt=>"more search options", :title=>"more search options", :id=>"search_button") %>
      <div id="search_button_left">&nbsp;</div>
      <div id="search_button_middle">
      <% if localized_params[:qt] and !localized_params[:qt].blank? and localized_params[:qt] != 'standard' %>
        <% if localized_params[:qt] == 'search' or  !search_fields.flatten.include?(localized_params[:qt]) %>
		  <a id="seach_button_link" class="<%= localized_params[:qt] %>">SEARCH</a>
        <% else %>
          <a id="seach_button_link" class="<%= localized_params[:qt] %>">Search <%= search_fields.flatten[search_fields.flatten.rindex(localized_params[:qt])-1] %></a>
        <% end %>
      <% else %>
        <a href='' id="seach_button_link" class="search">SEARCH</a>
      <% end %>
      </div>
      <div id="search_button_right">&nbsp;</div>
      <div id="search_links" style="display:none;">
        <ul>
          <% search_fields.each do |k,v| %>
            <li><a class="<%= v %>" href=''><%= k %></a></li>
          <% end %>
        </ul>
      </div>
    </span>
    <%= hidden_field_tag(:hidden_qt, h((localized_params[:qt].blank? or localized_params[:qt] == "standard") ? "search" : localized_params[:qt])) %>
    <%= hidden_field_tag(:per_page, localized_params[:per_page] ? localized_params[:per_page] : "20", :id => 'hidden_per_page') %>
    
    <%= render :partial => 'catalog/hidden_filters' %>
    
    <noscript>
      <%= submit_tag 'search', :class=>'submit' %>
    </noscript>
	<!--%= link_to "Advanced", advanced_path, :style => 'margin-left:15px;font-size:.9em;' % --> 
  <% end %>
</div>