<script src="/plugin_assets/fluid-infusion/infusion/components/undo/js/Undo.js" type="text/javascript"></script>
<script type="text/javascript" language="Javascript">
  function addLink() {
  	var id = document.getElementById("id").value;
  	$("#newLink").append("<dd id='row" + id + "'><input type='text' id='document_link_" + id + "-1' /> | <a href='#' onClick='removeLink(\"#row" + id + "\"); return false;'>Remove</a><dd>");

  	id = (id - 1) + 2;
  	document.getElementById("id").value = id;
  }

  function removeLink(id) {
  	$(id).remove();
  }
  function addAuthor() {
  	var id = document.getElementById("id").value;
  	$("#addAuthor").append("<dd id='row" + id + "'><input type='text' id='txt" + id + "' /> | <a href='#' onClick='removeAuthor(\"#row" + id + "\"); return false;'>Remove</a><dd>");

  	id = (id - 1) + 2;
  	document.getElementById("id").value = id;
  }

  function removeAuthor(id) {
  	$(id).remove();
  }
</script>
<%# this should imitate the stuff in catalog/_show_partials/_default_details -%>
<div id="multipleEdit">
<dl class="defList fl-theme-mist">
<%# default partial to display solr document fields in catalog show view -%>
  <form action="#" method="get" id="form1">
  <input type="hidden" id="id" value="document_link_">
  
  <div class="floatRight side">
  <%= editable_metadata_field(@document_fedora, "descMetadata", :date, :label => "Date:", :multiple=>false) %>  
  <%= editable_metadata_field(@document_fedora, "descMetadata", :medium, :label => "Document Type:", :multiple=>false) %>
  <%= editable_metadata_field(@document_fedora, "properties", :access, :label => "Access:", :multiple=>false) %>
  </div>
  <div style="float:left; width:250px;">
  <%= editable_metadata_field(@document_fedora, "descMetadata", :creator, :label => "Author(s):", :multiple=>true) %>
  <%= editable_metadata_field(@document_fedora, "descMetadata", :title, :label => "Title:", :multiple=>false) %>
  <%= editable_metadata_field(@document_fedora, "descMetadata", :relation, :label => "Links:", :multiple=>true) %>
  <dd><div id="newLink"></div></dd>
  <p><%= editable_metadata_field(@document_fedora, "properties", :archivist_tags, :label => "Archivist Tags:", :multiple=>false) %></p>
  <p><%= editable_metadata_field(@document_fedora, "properties", :donor_tags, :label => "Donor Tags:", :multiple=>false) %></p>

  <%= get_data_with_label(@document, "Series:", 'series_facet') %>
  <%= get_data_with_label(@document, "Subseries:", 'subseries_facet') %>
  <%= get_data_with_label(@document, "Box:", 'box_facet') %>
  <%= get_data_with_label(@document, "Folder:", 'folder_facet') %>  
  </div>
  <dd><input type="submit" value="Save" name="submit"></dd>
  </form>

</dl>
</div>
<%# -- end of code replicating catalog/_show_partials/_default_details -%>