<%# default partial to display solr document fields in catalog show view -%>

<% stylesheet_links << capture do %>
  <%= infusion_stylesheets(:inline_edit) %>
  <%= stylesheet_link_tag "../javascripts/date-picker/css/datepicker" %>
<% end %>

<% javascript_includes << capture do %>
  <%= infusion_javascripts(:inline_edit, :extras=>[:fckeditor,:inline_editor_integrations], :debug=>true) %>
  <%= javascript_include_tag "fluid_inline_edit_custom", "hydra_metadata", "custom" %>
  <%= javascript_include_tag "date-picker/js/datepicker"%>
<% end %>


<div class="<%= params[:action]%>_details">
  <%= render :partial => "#{params[:controller]}/_#{params[:action]}_partials/default_details", :locals => {:document => document}%>
</div>
<div class="document_viewer" id="cover_container">
  <%= render :partial => "documents/viewer" , :locals => {:document => document}%>
  <dl>
  <%= get_data_with_label(document, "ID:", 'id') %>
  </dl>
  <%#= link_to("view raw OCR", document_downloads_path(fedora_object.pid, :download_id=>ds.dsid)) %>
</div>

<h3>Download</h3>
<% if @downloadables %>
  <%= list_downloadables(@downloadables, @mime_types) %>
<% else %>
  <div id="downloads">
    <ul>
      <% %>
    </ul>
  </div>
  <%= async_load_tag(document_downloads_path(params[:id]), 'downloads') %>
<% end -%>


<dl class="defList" id="rights_info">
  <%= get_data_with_label(document, "Copyright:", 'rights_t') %>
</dl>


<div style="clear:left;"></div>
<div class="access_data">
  <%#= render :partial => "catalog/access_data", :locals => {:doc => document} %>
</div>



<% sidebar_items << capture do %>
  <%= render :partial=>"location_browse_box", :locals => {:document => document} %>
  <%= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document is about"} %>
  <%#= render :partial=>'facets' %>
<% end %>

