<% if files = params[:files] %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#accordion").accordion({active: 1});
    });
  </script>
<% end %>
<% stylesheet_links << "../plugin_assets/hydra_repository/javascripts/date-picker/css/datepicker" %>
<% javascript_includes << ["jquery.jeditable.mini.js", "date-picker/js/datepicker", "jquery.form.js", 'custom', "catalog/edit", "jquery.hydraMetadata.js", "jquery.notice.js", {:plugin=>:hydra_repository}] %>

<%# For DatePicker> %>
<%- javascript_includes << ["jquery.ui.widget.js","jquery.ui.datepicker.js", "mediashelf.datepicker.js", {:plugin=>:hydra_repository }] %>

<%# For Fancybox> %>
<% javascript_includes << ["fancybox/jquery.fancybox-1.3.1.pack.js", {:plugin=>:hydra_repository}] %>
<% stylesheet_links << "../plugin_assets/hydra_repository/javascripts/fancybox/jquery.fancybox-1.3.1.css" %>
<%# For slider controls %>
<% javascript_includes << ["select_to_ui_slider/selectToUISlider.jQuery.js", {:plugin=>:hydra_repository}] %>
<% stylesheet_links << ["../plugin_assets/hydra_repository/javascripts/select_to_ui_slider/css/ui.slider.extras.css"] %>

<% stylesheet_links << ["slider", {:plugin=>:hydra_repository}] %>
<% extra_head_content << capture do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(document).catalogEdit();
    });
  </script>
<% end %>
<div class="document_viewer" id="cover_container">
  <div class="deleteDocument">
    <%= delete_asset_link(params[:id], "article") %>
  </div>
  <div class="content-type-header">
    <h1>Edit a journal article</h1>
  </div>
  <div class="multipleEdit">
    <div id="loading" style="display:none;">
      <img src="/plugin_assets/hydra_repository/images/ajax-loader.gif" width="32" height="32" alt="Saving...">
      </img>
    </div>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= render :partial => 'journal_articles/edit_description' %>
  
    <%#
    // This hidden form really belongs elsewhere, but putting it inside of an 
    // accordion section un-hides it, so I stuck it here for now. -MZ
    %>
    <form id="new_contributor" action="<%=url_for(:action=>"create", :controller=>"contributors", :asset_id=>params[:id]) %>" method="post" style="display:none;">
      <input id="content_type" type="hidden" name="content_type" value="journal_article" />
      <label for="contributor_type">Contributor Type</label>
      <select id="contributor_type" name="contributor_type">
        <option value="person">Person</option>
        <option value="organization">Organization</option>
        <option value="conference">Conference</option>
      </select>
      <input type="submit" value="Add Contributor" />
    </form>
  </div>
</div>
<% sidebar_items << capture do %>
  <%#= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>'facets' %>

<% end %>
<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
