<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"journal_article")%>" method="post" data-resourceType="journal_article" accept-charset="utf-8" >
  <input type="hidden" name="content_type" value="journal_article" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset class="edit-standard">
  <legend>Author</legend>
  <dl>
    <dt>
      <%= fedora_field_label("descMetadata",[:name,:namePart],"Name") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata",[:name,:namePart]) %>
    </dd>
  </dl>
  </fieldset>
  <fieldset class="edit-standard">
  <legend>Journal article</legend>
  <dl>
    <dt>
      <%= fedora_field_label("descMetadata",[:title_info,:main_title],"Title") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:subject,:topic],"Subject") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:subject,:topic], :multiple=>true) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:abstract],"Abstract") %>
    </dt>
    <dd>
      <%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:rights],"Rights") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata",[:rights], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:origin,:publisher],"Publisher") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info,:publisher], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:note,:peer_reviewed],"Note") %>
    </dt>
    <dd>
      <%= fedora_checkbox(@document_fedora,"descMetadata", [:peer_reviewed],:multiple=>false) %>  Peer reviewed
    </dd>
  </dl>
  </fieldset>
  <fieldset class="edit-half">
  <legend>Published</legend>
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata",[:journal,:title_info,:main_title],"Published in") %>
      </dt>
      <dd>
        <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:title_info,:main_title], :multiple=>false) %>
      </dd>
      <dt>
        <%= fedora_field_label("descMetadata",[:journal,:origin_info,:date_issued],"Date") %>
      </dt>
      <dd>
        <%= fedora_select(@document_fedora,"descMetadata", [:journal,:origin_info,:date_issued], :choices=>(11.times.map {|i| (Time.now.year.to_i - (i-1)).to_s }) ) %>
      </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:journal,:issn_print],"ISSN (Print)") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:issn_print], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:journal,:issn_electronic],"ISSN (Electronic)") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:issn_electronic], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:journal,:doi],"DOI") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:doi], :multiple=>false) %>
      <% publication_link = "http://dx.doi.org/#{get_values_from_datastream(@document_fedora,"descMetadata",[:journal,:doi]).first.strip}" %>
      <a href="<%= publication_link %>" target="_blank"><%= publication_link %></a>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:journal,:part,:volume],"Volume") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:volume], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:journal,:part,:issue],"Issue") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:issue], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:journal,:part,:start_page],"Pages") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:start_page], :multiple=>false) %> to 
      <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:end_page], :multiple=>false) %>
    </dd>
  </dl>
  </fieldset>
  
  <%= submit_tag "Save" %>
  <%= submit_tag "Submit" %>
</form>


<form id="content_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"journal_article")%>" method="post" data-resourceType="journal_article" accept-charset="utf-8" >
  <input type="hidden" name="content_type" value="journal_article" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset class="edit-standard">
  <legend>Assets</legend>
  <dl>
    <dt>
      <%= fedora_field_label("contentMetadata",[:resource,:display_label],"Label") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"contentMetadata",[:resource,:display_label],:multiple => true) %>
    </dd>
  </dl>
  </fieldset>
  <input type="hidden"  name="_method" value="put"/>
  
  <%= submit_tag "Save" %>
</form>
