<div class="document_viewer" id="cover_container">
  <div class="deleteDocument">
    <%= delete_asset_link(params[:id], "article") %>
  </div>
  <div class="content-type-header">
    <h1>Edit a journal article</h1>
  </div>
  <div class="multipleEdit">
    <div id="loading" style="display:none;">
      <%= image_tag 'ajax-loader.gif', :alt=>'Saving...' %>
    </div>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= render :partial => 'journal_articles/edit_description' %>
  
    <%#
    // This hidden form really belongs elsewhere, but putting it inside of an 
    // accordion section un-hides it, so I stuck it here for now. -MZ
    %>
    <form id="new_contributor" action="<%=url_for(:action=>"create", :controller=>"contributors", :asset_id=>params[:id]) %>" method="post" style="display:none;">
      <input id="content_type" type="hidden" name="content_type" value="journal_article" />
      <label for="contributor_type">Contributor Type</label>
      <select id="contributor_type" name="contributor_type">
        <option value="person">Person</option>
        <option value="organization">Organization</option>
        <option value="conference">Conference</option>
      </select>
      <input type="submit" value="Add Contributor" />
    </form>
  </div>
</div>
<% sidebar_items << capture do %>
  <%#= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>'facets' %>

<% end %>
<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
