<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"journal_article")%>" method="post" data-resourceType="journal_article" accept-charset="utf-8" >
  <% @content_type = "journal_article" %>
  <input type="hidden" name="content_type" value="journal_article" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset class="edit-standard">
  <legend>Author</legend>
  <div id="contributors">
    <%= render :partial => 'contributors/index' %>
  </div>
  </fieldset>

  
  
  
  <fieldset class="edit-standard">
  <legend>Journal article</legend>
  <dl>
    <dt>
      <%= fedora_field_label("descMetadata",[:title_info,:main_title],"Title") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:title_info, :main_title], :multiple=>false) %>
    </dd>
  <div id="subjects">
    <%= render :partial => 'subjects/index' %>
  </div>
    <dt>
      <%= fedora_field_label("descMetadata",[:abstract],"Abstract") %>
    </dt>
    <dd>
      <%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:rights],"Rights") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata",[:rights], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:origin,:publisher],"Publisher") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info,:publisher], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:note,:peer_reviewed],"Note") %>
    </dt>
    <dd>
      <%= fedora_checkbox(@document_fedora,"descMetadata", [:peer_reviewed],:multiple=>false) %> <span id="peer_reviewed">Peer reviewed</span>
    </dd>
  </dl>
  </fieldset>
  <fieldset class="edit-half">
  <legend>Published</legend>
    <dl>
      <div class="info-multiple">
        <div class="left">
          <dt>
            <%= fedora_field_label("descMetadata",[:journal,:title_info,:main_title],"Published in") %>
          </dt>
          <dd>
            <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:title_info,:main_title], :multiple=>false) %>
          </dd>
        </div>
        <div class="right">
          <dt>
            <%= fedora_field_label("descMetadata",[:journal,:origin_info,:date_issued],"Date") %>
          </dt>
          <dd>
            <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:origin_info,:date_issued], :multiple=>false, :html_options=>{:maxlength => 4} ) %>
          </dd>
        </div>
      </div>
      <div class="info-multiple">
        <div class="left">
          <dt>
            <%= fedora_field_label("descMetadata",[:journal,:issn_print],"ISSN (Print)") %>
            </dt>
          <dd>
            <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:issn_print], :multiple=>false) %>
          </dd>
        </div>
        <div class="right">
          <dt>
            <%= fedora_field_label("descMetadata",[:journal,:issn_electronic],"ISSN (Electronic)") %>
          </dt>
          <dd>
            <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:issn_electronic], :multiple=>false) %>
          </dd>
        </div>
      </div>
      <div class="info-multiple">
        <div class="left">
          <dt>
            <%= fedora_field_label("descMetadata",[:journal,:doi],"DOI") %>
          </dt>
          <dd>
            <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:doi], :multiple=>false) %>
          </dd>
        </div>
        <div class="right">
          <dt><label>Link to publication</label></dt>
          <dd>
            <% publication_link = "http://dx.doi.org/#{get_values_from_datastream(@document_fedora,"descMetadata",[:journal,:doi]).first.strip}" %>
            <a href="<%= publication_link %>" target="_blank"><%= publication_link %></a>
          </dd>
        </div>
      </div>
      <div class="info-multiple">
        <div class="left">
          <div class="volume_issue">
            <dt>
              <%= fedora_field_label("descMetadata",[:journal,:part,:volume],"Volume") %>
            </dt>
            <dd>
              <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:volume], :multiple=>false, :html_options => {:maxlength=>6}) %>
            </dd>
          </div>
          <div  class="volume_issue">
            <dt>
              <%= fedora_field_label("descMetadata",[:journal,:part,:issue],"Issue") %>
            </dt>
            <dd>
              <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:issue], :multiple=>false, :html_options => {:maxlength=>10}) %>
            </dd>
          </div>
        </div>
        <div class="right">
          <div class="journal_pages">
            <dt>
              <%= fedora_field_label("descMetadata",[:journal,:part,:start_page],"Pages") %>
            </dt>
            <dd>
              <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:start_page], :multiple=>false) %> to 
              <%= fedora_text_field(@document_fedora,"descMetadata", [:journal,:part,:end_page], :multiple=>false) %>
            </dd>
          </div>
        </div>
      </div>
    </dl>
  </fieldset>
  <input type="hidden"  name="_method" value="put"/>
  
   <div>
    <div class="form-control">
      <%= submit_tag "Save" %>
    </div>
    <div class="form-control">  
      <%= submit_tag "Submit" %>
    </div>
  </div>
</form>


<form id="content_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"journal_article")%>" method="post" data-resourceType="journal_article" accept-charset="utf-8" >
  <input type="hidden" name="content_type" value="journal_article" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset class="edit-half">
  <legend>Assets</legend>
  <dl>
    <div class="info-multiple">
      <div class="left">
        <dt>
          <%= fedora_field_label("contentMetadata",[:resource,:display_label],"Label") %>
        </dt>
        <dd>
          <%= fedora_text_field(@document_fedora,"contentMetadata",[:resource,:display_label],:multiple => true) %>
        </dd>
      </div>
    </div>
  </dl>
  </fieldset>
  <input type="hidden"  name="_method" value="put"/>
   <div>
    <div class="form-control">
      <%= submit_tag "Save" %>
    </div>
  </div>
</form>
