<div class="document_viewer" id="cover_container">  
  <div class="content-type-header">
  <h1>Journal article</h1></div>
  <%= render :partial => 'journal_articles/show_description' %>
  <%= render :partial => 'shared/show_downloads' %>
  <%= render :partial => 'shared/show_links' %>
  <%= render :partial=>"journal_articles/show_journal", :collection=>@document_fedora.descMetadata.find_by_terms(:journal) %>
  <%= render :partial => 'shared/show_resources' %>
</div>

