<div class="document_viewer" id="cover_container">
	<div class="deleteDocument">
		<form id="delete" action="<%= url_for :action => 'destroy', :controller => 'assets', :id => params[:id], :method => 'delete' %>" method="post" data-resourceType="presentation" accept-charset="utf-8" >
    <input type="hidden" name="content_type" value="generic_content" />
    <input type="hidden"  name="_method" value="delete"/>
    <div>  
      <%= submit_tag "Delete resource", :confirm => "Are you sure you want to delete the resource and its content?", :class => "submitLink"%>
    </div>
  	</form>
	</div>
  <div class="set-controls">
    <!-- holder for create/move set controls -->
	<div class="create">
		<a href="">Create a new set</a>
	</div>
	<div class="move">
		<a href="">Move to a new set</a>
	</div>
  </div>
  <div class="content-type-header">
    <h1>Edit content</h1>
  </div>
  <div class="multipleEdit">
    <div id="loading" style="display:none;">
      <%= image_tag 'ajax-loader.gif', :alt=>'Saving...' %>
    </div>

		<%= render :partial => 'shared/edit_generic_qa', :locals=>{:content_type=>'generic_content'} %>
    
	  </div>
</div>
<% sidebar_items << capture do %>
  <%#= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>'facets' %>

<% end %>
<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
