<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"uketd_object")%>" method="post" data-resourceType="uketd_object" accept-charset="utf-8" >
  <% @content_type = "uketd_object" %>
  <% choices = ObjectMods.language_relator_terms %>
  <input type="hidden" name="content_type" value="uketd_object" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset class="edit-standard">
  <legend>Author</legend>
  <div id="contributors">
    <%= render :partial => 'contributors/index', :locals=> {:roles=>['creator','author'], :contributor_type=>:person} %>
  </div>
  </fieldset>

  <fieldset class="edit-standard">

  <legend>Thesis or dissertation</legend>
  <!-- To do Advisors/Sponsors -->
  <dl>
    <dt>
     <%= fedora_field_label("descMetadata",[:title_info,:main_title],"Title") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora, "descMetadata", [:title_info,:main_title], :multiple=>false) %>
    </dd>
    <div id="subjects">
	    <%= render :partial => 'subjects/index' %>
	  </div>
	  <dt>
      <%= fedora_field_label("descMetadata",[:rights],"Rights") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata",[:rights], :multiple=>false) %>
    </dd>   
     <dt>
      <%= fedora_field_label("descMetadata",[:abstract],"Abstract") %>
    </dt>
    <dd>
      <%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:name,:namePart],"Supervisor(s)") %>
    </dt>
    <div class="contributors">
      <%= render :partial => 'contributors/index', :locals=> {:roles=>['Supervisor'], :contributor_type=>:person} %>
    </div>
    <dt>
      <%= fedora_field_label("descMetadata",[:name,:namePart], "Sponsor(s)") %>
    </dt>
    <div class="contributors">
      <%= render :partial => 'contributors/index', :locals=> {:roles=>['sponsor'], :contributor_type=>:organization} %>
    </div>
    <div id="grants">
	    <%= render :partial => 'grant_numbers/index' %>
	  </div>
	  <dt>
      <%= fedora_field_label("descMetadata",[:origin_info, :date_issued],"Date issued") %>
    </dt>
      <dd> 
      <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info, :date_issued], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("RELS-EXT",[:is_member_of], "Structural Set") %>
    </dt>
    <dd>
      <%= select "Structural Set","",  StructuralSet.tree.options_for_nested_select, :selected=>@document_fedora.structural_set, :include_blank=>true, :class=>"structural-set-select"  %>
    </dd>
    <dt>
      <%= fedora_field_label("RELS-EXT",[:is_member_of], "Display Set") %>
    </dt>
    <dd>
      <%= select "Display Set","",  DisplaySet.tree.options_for_nested_select, :selected=>@document_fedora.display_set, :include_blank => true, :class=>"display-set-select"  %>
    </dd>
  </dl>
  </fieldset>

  <fieldset class="edit-half">
    <dl>
	  <div class="info-multiple">
	    <div class="left">
	      <dt>
      	     <%= fedora_field_label("descMetadata",[:language, :lang_text], "Language") %>
    	  </dt>
	      <dd style="width: 20em;">
	        <%= fedora_text_field(@document_fedora,"descMetadata", [:language, :lang_text], :multiple=>false) %>
          </dd>
	    </div>
	    <div class="right">
		  <dt>
            <%= fedora_field_label("descMetadata",[:language, :lang_code], "Language code") %>
          </dt>
          <dd style="width: 20em;"> 
            <%= fedora_text_field(@document_fedora,"descMetadata", [:language, :lang_code], :multiple=>false) %>
          </dd>
	    </div>
	  </div>
    </dl>
  </fieldset>

  <fieldset class="edit-standard">
    <dl>
      <dt>
        <%= fedora_field_label("descMetadata",[:origin_info, :publisher],"Publisher") %>
      </dt>
        <dd> 
        <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info, :publisher], :multiple=>false) %>
      </dd>	
    </dl>
  </fieldset>

  <fieldset class="edit-half">
  <dl>
	<div class="info-multiple">
	  <div class="left">
	    <dt>
      	  <%= fedora_field_label("descMetadata",[:qualification_level],"Qualification level") %>
    	</dt>
	    <dd style="width: 20em;">
	      <%= fedora_text_field(@document_fedora,"descMetadata", [:qualification_level], :multiple=>false) %>
        </dd>
	  </div>
	  <div class="right">
		<dt >
          <%= fedora_field_label("descMetadata",[:qualification_name],"Qualification name") %>
        </dt>
        <dd style="width: 20em;"> 
          <%= fedora_text_field(@document_fedora,"descMetadata", [:qualification_name], :multiple=>false) %>
        </dd>
	  </div>
	</div>
  </dl>
  </fieldset>

  <%= render :partial => 'shared/show_additional_metadata' %>

  <input type="hidden"  name="_method" value="put"/>
  
  <div>
    <div class="form-control">
      <%= submit_tag "Save metadata" %> <!-- <%= submit_tag "Submit" %> -->
    </div>
  </div>
</form>

<%= render :partial => "shared/resources" %>

<hr class="separator"/>

<%= render :partial=>"shared/submit_to_publish" %>
