<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"uketd_object")%>" method="post" data-resourceType="uketd_object" accept-charset="utf-8" >
  <input type="hidden" name="content_type" value="uketd_object" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <fieldset class="edit-standard">
  <legend>Author</legend>
  <div id="contributors">
    <%= render :partial => 'contributors/index' %>
  </div>
  </fieldset>
  <fieldset class="edit-standard">
  <legend>Thesis or dissertation</legend>
  <!-- To do Advisors/Sponsors -->
  <dl>
    <dt>
     <%= fedora_field_label("descMetadata",[:title_info,:main_title],"Title") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora, "descMetadata", [:title_info,:main_title], :multiple=>false) %>
    </dd>
    <div id="subjects">

	</div>
     <dt>
      <%= fedora_field_label("descMetadata",[:abstract],"Abstract") %>
    </dt>
    <dd>
      <%= fedora_text_area(@document_fedora,"descMetadata", [:abstract], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:rights],"Rights") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata",[:rights], :multiple=>false) %>
    </dd>   
	<dt>
      <%= fedora_field_label("descMetadata",[:origin_info, :date_issued],"Date issued") %>
    </dt>
      <dd> 
      <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info, :date_issued], :multiple=>false) %>
    </dd>
  </dl>
  </fieldset>

  <fieldset class="edit-half">
  <!--Language which populates both term fields -->
  <dl>
	<div class="info-multiple">
	  <div class="left">
	    <dt>
      	  <%= fedora_field_label("descMetadata",[:qualification_level],"Qualification level") %>
    	</dt>
	    <dd style="width: 20em;">
	      <%= fedora_text_field(@document_fedora,"descMetadata", [:qualification_level]) %>
        </dd>
	  </div>
	  <div class="right">
		<dt >
          <%= fedora_field_label("descMetadata",[:qualification_name],"Qualification name") %>
        </dt>
        <dd style="width: 20em;"> 
          <%= fedora_text_field(@document_fedora,"descMetadata", [:qualification_name]) %>
        </dd>
	  </div>
	</div
  </dl>
  </fieldset>

  <fieldset class="edit-standard">
  <dl>
     <dt>
      <%= fedora_field_label("descMetadata",[:origin_info, :publisher],"Publisher") %>
    </dt>
      <dd> 
      <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info, :publisher], :multiple=>false) %>
    </dd>	
  </dl>
  </fieldset>
  <input type="hidden"  name="_method" value="put"/>
  
  <%= submit_tag "Save" %>
  <%= submit_tag "Submit" %>
</form>
