<div class="document_viewer" id="cover_container">
	<div class="deleteDocument">
		<form id="delete" action="<%= url_for :action => 'destroy', :controller => 'assets', :id => params[:id], :method => 'delete' %>" method="post" data-resourceType="uketd_object" accept-charset="utf-8" >
    <input type="hidden" name="content_type" value="uketd_object" />
    <input type="hidden"  name="_method" value="delete"/>
    <div>  
      <%= submit_tag "Delete resource", :confirm => "Are you sure you want to delete the resource and its content?", :class => "submitLink"%>
    </div>
  	</form>
	</div>

<!--
	This didn't work... 
 <div class="deleteDocument">
    <%= delete_asset_link(params[:id], "article") %>
  </div>
-->
  <div class="set-controls">
    <!-- holder for create/move set controls -->
	<div class="create">
		<a href="">Create a new set</a>
	</div>
	<div class="move">
		<a href="">Move to a new set</a>
	</div>
  </div>
  <div class="content-type-header">
    <h1>Edit a thesis or dissertation</h1>
  </div>
  <div class="multipleEdit">
    <div id="loading" style="display:none;">
      <%= image_tag 'ajax-loader.gif', :alt=>'Saving...' %>
    </div>

		<%= display_edit_form(@document_fedora, "uketd_object") %>
		
   </div>

</div>
<%= async_load_tag(asset_file_assets_path(params[:id], :layout=>"false"), 'uploads') %>
