<%# default partial to display edit interface for documents -%>
<% form_for @document do |f| %>
<div class="<%= params[:action]%>_details">
  <%= render :partial=>"edit_details", :locals => {:document => @document}%>
</div>
<div class="document_viewer" id="cover_container">
  <%= render :partial => "documents/viewer" , :locals => {:doc => @document}%>
</div>
<dl class="defList" id="rights_info">
  <%#= get_data_with_label(@document, "Copyright:", 'rights_t') %>
  <dt>Copyright:</dt>
  <dd><%= @document.datastreams["descMetadata"].rights_values.first %></dd>
</dl>


<div style="clear:left;"></div>
<div class="access_data">
  <%#= render :partial => "catalog/access_data", :locals => {:doc => document} %>
</div>
<div style="clear:both;"></div>
  <div id="tech_details">
    <h2>Tech Details</h2>
    <ul>
      <li>Catkey: <%= @document.pid %></li>
      <li><a href="http://library.stanford.edu/searchcat?ckey=<%= @document.pid %>">Compare in Socrates</a></li>
    </ul>
  </div>
<div style="clear:both;"></div>

<% end # close the form %>

<% sidebar_items << capture do %>
  <%= render :partial=>"catalog/location_browse_box", :locals => {:document => @document_solr} %>
  <%= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>@document_solr} %>
  <%#= render :partial=>'facets' %>
<% end %>