<% @page_title = "#{document_fedora_show_html_title} - #{application_name}" %>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script src="http://books.google.com/books/previewlib.js" type="text/javascript"></script>
  <script type="text/javascript">
    var standard_nums = new Array();
  </script>
  <%= infusion_javascripts(:inline_edit, :debug=>true) %>
  <%= infusion_stylesheets(:inline_edit) %>
  <%= javascript_include_tag "custom"%>
  

<div id="showHead">
  <div id="showUtils">
  <div class="tools"><%#= render :partial => 'show_tools' %></div>
    <span class="back_to_cat"><%#= link_back_to_catalog :label=>'&laquo; Back to Results' %></span>
    <% if @previous_document || @next_document %>
      <div id="previousNextDocument">
	    <span class="previous"><%= link_to_previous_document(@previous_document) %></span>
    <% end %>
    <%- if session[:search][:counter].to_i > 0 -%>
      #<%= session[:search][:counter].to_i %> of <%= format_num(session[:search][:total]) %>
    <%- end -%>
    <% if @previous_document || @next_document %>
	    <span class="next"><%= link_to_next_document(@next_document)%></span>	
      </div>
    <% end %>
    <%= link_to "Browse", catalog_path(@document.pid) %>
    Edit
  </div>
</div>
<div id="document">
  <div id="doc_<%= @document.pid %>">
    <h1><%= h(@document.datastreams["descMetadata"].title_values.first) %><br/><%#= h(vern_document_heading) %></h1>
    <div class="document">
      <%= render :partial=>"edit" %>
    </div>
  </div>
</div>


<%#= render :partial=>'solr_request' %>

<div class="lightboxContent" id="citation" style="display:none;">
  <%#= render :partial => 'citation' %>
</div>
<div class="lightboxContent" id="email" style="display:none;">
  <%#= render :partial => 'email_form' %>
</div>
<div class="lightboxContent" id="sms" style="display:none;">
  <%#= render :partial => 'sms_form' %>
</div>
  
<script type="text/javascript">
  printGBSCall(standard_nums);
</script>