<!--
<%# See code comments on ContributorsController.new to understand what this view does %>

  <form id="add_grant" action="<%= grants_path(params[:asset_id],:content_type=>params[:content_type]) %>" method="post" accept-charset="utf-8">

	 <dt>
		<%= fedora_field_label("descMetadata", [:grant], "Add a new grant") %>
     </dt>
     <dd class="multi_inline subject">
 	    <%= fedora_text_field(@document_fedora,"descMetadata", [:grant], :multiple=>false) %>
	 <dd>

      <%= submit_tag "Add Grant", {:id => "addGrant"} %> 

  </form>
-->

<%# See code comments on ContributorsController.new to understand what this view does %>
  <%- new_grant_index = @document_fedora.datastreams["descMetadata"].find_by_terms(:grant).length %>
  <form id="add_contributor" action="<%= grants_path(params[:asset_id],:content_type=>params[:content_type]) %>" method="post" accept-charset="utf-8">
      
      <%= render :partial=>"grants/edit", :locals=>{:edit =>{}, :edit_counter => 0 } %>
      <%= submit_tag "Add Subject", {:id => "addSubject"} %> 
  </form>
