/ ie. asset[access_person][researcher1]
- unless defined?(person_id)
  - person = edit_person_permissions
  - person_id = person.text
- field_name = "#{person_id}_access"
- choices = [{"Discover" => "discover"}, {"Read" => "read"}, {"Edit" => "edit"}] 
- current_permissions = @document_fedora.datastreams_in_memory["rightsMetadata"].permissions({"person"=>person_id})

%label{:for=>field_name}
  = person_id
/   # post :update, :asset_id=>"_pid_", :actor_type=>"group", :actor_id=>"_group_id_", :permission => {"group"=>"_group_id_","level"=>"discover"}
/ OR
/ post :update, :asset_id=>"_pid_", :actor_type=>"group", :actor_id=>"_group_id_", :permission => {"group"=>{"_group_id_"=>"discover"}}


%input{:rel=>field_name, :value=>}
%select{:id=>field_name, :name=>"asset[access_group][#{person_id}]"}
  - choices.each do |choice|
    - choice_label = choice.keys.first
    - choice_name = choice.values.first

    %option{:value=>choice_name, :selected=>(current_permissions == choice_name) } 
      = choice_label
%a.remove{:href=>'#', :title=>"Remove permissions for #{person_id}"} X