<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"exam_paper")%>" method="post" data-resourceType="exam_paper" accept-charset="utf-8" >
  <% @content_type = "exam_paper" %>
  <% choices = ObjectMods.language_relator_terms %>
  <input type="hidden" name="content_type" value="exam_paper" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <fieldset class="edit-standard">
  <legend>Module(s)</legend>
  <dl>
	<dt>
      <%= fedora_field_label("descMetadata",[:module,:code],"Code") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:module, :code], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:module,:name],"Name") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:module, :name], :multiple=>false) %>
    </dd>
	<dt>
      <%= fedora_field_label("descMetadata",[:origin,:date_issued],"Examination date (Month Year)") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info,:date_issued], :multiple=>false) %>
    </dd>
	<div id="subjects">
	  <%= render :partial => 'subjects/index' %>
	</div>
	<dt>
      <%= fedora_field_label("descMetadata",[:exam_level],"Examination level") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:exam_level], :multiple=>false) %>
    </dd>
	<dt>
      <%= fedora_field_label("descMetadata",[:note],"Additional notes") %>
    </dt>
    <dd>
      <%= fedora_text_area(@document_fedora,"descMetadata",[:note], :multiple=>false) %>
    </dd>
	<dt>
      <%= fedora_field_label("descMetadata",[:organization, :namePart], "Department") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:organization, :namePart], :multiple=>false) %>
    </dd>
    <dt>
      <%= fedora_field_label("descMetadata",[:origin,:publisher],"Publisher") %>
    </dt>
    <dd>
      <%= fedora_text_field(@document_fedora,"descMetadata", [:origin_info,:publisher], :multiple=>false) %>
    </dd>
    <dt>
	  <%= fedora_field_label("descMetadata",[:language, :lang_text, :lang_code], "Language") %>
	</dt>
	<dd>
	  <%= fedora_select(@document_fedora,"descMetadata", [:language, :lang_text], :choices=>choices.values.sort) %>
	</dd>
  </dl>
  </fieldset>

  <input type="hidden"  name="_method" value="put"/>
  
   <div>
    <div class="form-control">
      <%= submit_tag "Save metadata" %>
    </div>
  </div>
</form>

<%= render :partial=> "shared/resources" %>

<hr class="separator"/>

<% if @document_fedora.queue_membership == [:proto] %>
<div style="width:100%;height:2.2em;">
  <form id="document_queue" action="<%= change_queue_path(:content_type=>"exam_paper", :workflow_step=>"qa", :id => @document_fedora.pid )%>" method="post" data-resourceType="uketd_object" accept-charset="utf-8" >
    <input type="hidden" name="content_type" value="exam_paper" />
    <input type="hidden"  name="_method" value="put"/>
    <input type="hidden" name="workflow_step" value="qa" />
    <div class="form-control">  
      <%= submit_tag "Submit to QA", :confirm => "Are you sure you want to move this to the QA Queue?" %>
    </div>
  </form>
</div>
<% end %>
