<div id="title_div" style="float:left;width:300px;"><h2><%= link_to_document(document, :label => Blacklight.config[:show][:heading].to_sym, :counter => (counter + 1 + @response.params[:start].to_i)) %></h2></div>
<div id="content_div" style="float:left;">
  <dl id="index_list">
  <% orgs = get_organizations_from_roles(document, ['creator', 'author']).map {|organization| organization[:name]}  %>
    <dt>Department</dt>
    <dd>
      <%= orgs.join("; ") %>
    </dd>
 <dt>Resource type</dt>
	<dd>
    <%= document.get(:genre_t) %>
	</dd>
   <dt><%= pluralize(document[:subject_topic_t].count,"Subject")[2..-1] %></dt>
    <dd>
       <%= document.get(:subject_topic_t, :sep=>'; ') %>
    </dd>
  <dt>Language</dt>
    <dd>
      <%= document.get(:language_lang_text_t) %>
    </dd>
  </dl>

</div>
<div id="genre_image" class="text-genre" ></div>

