<div id="description">
<dl>

 <%= display_datastream_field(@document_fedora,"descMetadata", [:title], "", "dd_title") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:module, :combined_display], "Module", "dd_text") %>
 <%= display_datastream_text_area_field(@document_fedora,"descMetadata", [:note], "Additional note", "dd_text") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:exam_level], "Examination level", "dd_text") %>
 <%= display_datastream_date_field(@document_fedora,"descMetadata", [:origin_info, :date_issued], "Examination date", "dd_text") %>

 <% orgs = get_organizations_from_roles(@document, ['creator','author']).map {|organization| organization[:name]}  %>
    <% unless orgs.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:organization, :namePart], "Department") %>
      </dt>
      <dd class="dd_text">
        <%= orgs.join(", ") %>
      </dd>
 <% end %>

 <%= display_datastream_field(@document_fedora,"descMetadata", [:rights], "Rights", "dd_text") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:origin_info, :publisher], "Publisher", "dd_text") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:language, :lang_text], "Language", "dd_text") %>
</dl>
</div>
