<form id="document_metadata" action="<%= url_for(:action=>"update", :controller=>"assets", :content_type=>"exam_paper")%>" method="post" data-resourceType="exam_paper" accept-charset="utf-8">

<dl>

 <%= display_datastream_field(@document_fedora,"descMetadata", [:description], "Description") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:subject, :topic], "Subject") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:related_item_module, :module_code], "Module code") %>

 <% orgs = get_organizations_from_roles(@document, ['creator','author']).map {|organization| organization[:name]}  %>
    <% unless orgs.empty? %>
      <dt>
        <%= fedora_field_label("descMetadata", [:organization, :namePart], "Department:") %>
      </dt>
      <dd class="department">
        <%= orgs.join(", ") %>
      </dd>
 <% end %>

 <%= display_datastream_field(@document_fedora,"rightsMetadata", [:copyright], "Rights") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:origin_info, :publisher], "Publisher") %>
 <%= display_datastream_field(@document_fedora,"descMetadata", [:language, :lang_text], "Language") %>


</dl>


</form>
