<div class="constraints">
  <%- if localized_params[:qt] == 'standard' -%>
    Advanced Search:
  <%- else -%>
    Your Search:
  <%- end -%> 
  <%- if localized_params[:q] and !localized_params[:q].blank? and localized_params[:qt] != "standard" -%>
    <% q_arr = get_search_breadcrumb_terms(localized_params[:q]) %>
    <span class='search_terms'>
      <%- q_arr.each do |q_param| -%>
        <span class="q_param">
          <%= q_param %>
        </span> 
        <span class='remove_link'>
          <%= link_to(image_tag('icons/remove-icon.jpg', :alt=>'remove', :title=>'remove this from your search'),root_path(remove_query_params(q_param,localized_params))  ) %>
        </span>
        <%= " + " unless q_param == q_arr.last %>
      <%- end #each param -%>
      <%- if localized_params.has_key?(:qt) and localized_params[:qt] != 'search' -%>
        in <span class='search_type'><%= localized_params[:qt].split('_').last.capitalize %></span>
      <%- end -%>
    </span>
  <%- elsif localized_params[:qt] == "standard" and !localized_params[:q].blank? and localized_params[:q] != "collection:sirsi" -%>
    <%= get_advanced_search_query_terms(localized_params) %>
  <%- else -%>
    (no search term entered)
  <%- end -%>
  <br/>
<% if localized_params[:qt] == 'standard' -%>
  <% filters = get_advanced_search_filter_terms(localized_params) -%>
<% else -%>  
  <% filters = localized_params[:f] || [] %>
<% end -%>
  Limited to: <%= filters.blank? ? "(no limits selected)" : "" %>
<%- unless filters.blank? -%>
  <ul>
    <%- filters.each do |filter| -%>
      <%- filter.last.each do |value| -%>
        <li>
          <span class="filter_label"><%= facet_field_labels[filter.first] %>:</span> <span class="filter_value"><%= value %></span>  <%= link_to image_tag('icons/remove-icon.jpg', :alt=>'remove', :title=>'remove this from your search'), root_path(remove_facet_params(filter.first, value, localized_params)), :class => 'remove' unless localized_params[:qt] == 'standard' %>
          <%- if localized_params[:qt] == 'standard' -%>
		    <%- if value.to_s == filter.last.last.to_s -%>
			  <%= " AND " unless value.to_s == filters.to_a.flatten.last.to_s %>
			<%- else -%>
			  <%= " OR " unless value.to_s == filters.to_a.flatten.last.to_s %>
			<%- end -%>
		  <%- else -%>
		    <%= " + " unless value.to_s == filters.to_a.last.last.to_s %>
		  <%- end -%>
        </li>
      <%- end #each value -%>
    <%- end #each filter -%>
  </ul>
<%- end -%>
<div class="ie_fix" style="clear:both;">&nbsp;</div>
</div>
<div style="display:none;">
<%= localized_params.inspect %>
</div>