<div id="searchIndicator" title="This indicator highlights that any search performed at this point will search against the current result set">Result set:</div>
<div id="appliedParams">

	<h3>You searched for:<%= image_tag "blacklight/magnifying_glass.gif", :alt=>"search icon"  %></h3>

	<span id="appliedQueries">
		<% if ! localized_params[:q].blank? %>
			<span class="appliedFilter">
				<span class="first">
					<span class="queryName">Keyword</span>
					<span><%= h(localized_params[:q]) %></span>
				</span>
				<%= link_to('',
					catalog_index_path(localized_params.merge(:q=>nil, :action=>'index')),
					:class=>'btnRemove imgReplace',
          :alt=>'x'
				) %>
				<%= image_tag "blacklight/checkmark.gif", :alt=>"checkmark"%>
			</span>
		<% else %>
			<span class="appliedFilter"><span class="first"><span>No Keywords</span> </span></span>
		<% end %>
	</span>

	<% if localized_params[:f] %>
		<span id="appliedFilters">
			<span id = "appliedFiltersList">
				<% localized_params[:f].each_pair do |facet,values| %>
					<% values.each do |v| %>
						<span class="appliedFilter">
							<span class="first">
								<span>
									<%- if ['is_member_of_s', 'top_level_collection_id_s'].include? facet  %>
									  <span class="filterName">Collection</span>
                    <span class="filterValue"><%= catalog_name(v) %></span>
                  <% else %>
									  <span class="filterName"><%= h facet_field_labels[facet] %></span>
                    <span class="filterValue"><%= v %></span>
                  <% end %>
								</span>
							</span>
							<%= link_to(
								'',
								catalog_index_path(remove_facet_params(facet, v, localized_params)),
								:class=>'btnRemove imgReplace',
                :alot=>'x'
							) %>
				      <%= image_tag "blacklight/checkmark.gif", :alt=>"checkmark"%>
						</span>
					<% end %>
				<% end %>
			</span>
		</span>
	<% end %>
	
	<div>
		<% if params[:action] == 'index' %>
      <%= render_pagination_info @response, :entry_name=>'resource'%>
      <%= ext_str = @response["response"]["numFound"] == 0 ?  ext_str = ' - <b>If you are expecting some resources, have you tried logging in?</b>'.html_safe : ext_str = '' %>	
		<% else %>
      <%= item_page_entry_info %>
		<% end %>
		<%=link_to "Start&nbsp;again&thinsp;".html_safe, resources_path, :id=>"startOverLink" %>
	</div>
	
</div>
