<% # container for all documents in index view -%>
<div id="documents">
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    var id_array = new Array();
    var standard_nums = new Array();
  </script>
  <% # loop thru each doc -%>
  <table>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Document Type</th>
      <th>Location</th>
    </tr>
    <% @response.docs.each_with_index do |document,counter| %>

      <% # container for a single doc -%>
      <tr class="document <%= cycle("even","odd")%>">
        <td>
          <%= document.get(:date_t) %>
        </td>
        <td>
          <%= link_to_document(document, :label => :title_facet, :counter => (counter + 1 + @response.params[:start].to_i)) %>
        </td>
        <td>
          <%= document.get(:medium_t) %>
        </td>
        <td>
          <%= document.get(:location_t) %>
        </td>
      </tr>
    
    <% end %>
  </table>
</div>