<div id="collection-id-box" class="location-browse">
  <h2 class="title"> <%=h document["collection"] %></h2>
  <% if @folder_siblings %>  
    <ul class="containers horizontal">
      <li class="first"> 
        <%= link_to_multifacet("Series #{document["series_facet"]}", "series_facet" => document["series_facet"])  %> 
      </li>
      <li>
        > <%= link_to_multifacet(document['box_facet'],  "series_facet" => document["series_facet"], "box_facet" => document["box_facet"]) %>
      </li>
      <li>
        > <%= link_to_multifacet(document['folder_facet'],  "series_facet" => document["series_facet"], "box_facet" => document["box_facet"], "folder_facet" => document["folder_facet"]) %>
      </li>
      <% if @folder_siblings %>
      <li>(<%= @folder_siblings.total %> Documents)</li>
      <% end %>
    </ul>
  
    <ul class="folder_siblings">
        <%= render :partial=>"folders/document", :collection=>@folder_siblings.docs %>
    </ul>
  <% else %>
    <span class="error">Location info is incomplete.  Could not find adjacent documents.</span>
  <% end %>
  
  <ul class="links horizontal">
    <li><%= link_to("Collection Home", collection_path(document["collection"])) %> </li>
    <li>Finding Aid</li>
    <li>Access</li>
  </ul>
</div>