<ul class="tools">
  <li>
     <span class="iconSpan citeThis"><%= link_to "Cite This", citation_catalog_path(@document.id), {:id => 'citeLink', :class => 'lightboxLink', :name => 'citation'} %></span>
  </li>
  <li>
    <span class="send_to">
      <a href='#' id="send_to_link">Send to...</a>
      <div style="" id="send_to_div">
        <span class="iconSpan sms">
          <%= link_to "Text", sms_catalog_path(@document.id), {:id => 'smsLink', :name => 'sms', :class => 'lightboxLink'} %>
        </span>
        <span class="iconSpan refworks">
        <%- unless catalog_path(@document.id, :format => 'refworks', :only_path => false).match('.stanford.edu').nil? -%>
          <%- refworks_url = catalog_path(@document.id, :format => 'refworks', :only_path => false) -%>
        <%- else -%>
          <%- refworks_url = "http://#{request.env["SERVER_NAME"]}#{request.env["SERVER_PORT"] != "80" ? ":" << request.env["SERVER_PORT"] : "" }#{catalog_path(@document.id, :format => 'refworks')}" -%>
        <%- end -%>
          <%= link_to "RefWorks", "http://www.refworks.com/express/expressimport.asp?vendor=#{application_name}&filter=MARC%20Format&encoding=65001&url=#{refworks_url}" %>
        </span><br style="display:none"/>
        <span class="iconSpan email">
          <%= link_to "Email", email_catalog_path(@document.id), {:id => 'emailLink', :name => 'email', :class => 'lightboxLink'} %>
        </span>
        <span class="iconSpan endnote">
          <%= link_to "EndNote", catalog_path(@document.id, :format => 'endnote') %>
        </span>
      </div>
    </span>
  </li>
</ul>
