
<%# In Searchworks, this is only displayed if you're not on the home page.  Different "home page" stuff is displayed otherwise-%>
<% @page_title = "#{application_name} Search Results" %>
  <%= render :partial=>'did_you_mean', :locals => {:query => params[:q]} %>
  <div id="searchMods">
  <% unless @response.response['numFound'].to_i < 2 %>
  <% form_tag root_path, :method=>:get, :class=>'per_page' do %>
    <%= label_tag(:per_page, "Show " + select_tag(:per_page, options_for_select(['10', '20', '50', '100'], h(params[:per_page].nil? ? Blacklight.config[:index][:num_per_page] : params[:per_page])), :title => "Number of results to display per page", :onchange => 'this.form.submit()') + " per page") %>
    <%= hidden_field_tag :q, params[:q], :id => 'per_page_q' %>
    <%= hidden_field_tag(:qt, params[:qt], :id => 'per_page_qt') %>
    <%= hidden_field_tag(:sort, params[:sort], :id => 'per_page_sort') %>
	<%= hidden_field_tag(:fq, params[:fq], :id => 'per_page_fq') unless params[:fq].nil? %>
    <%= render :partial => 'catalog/hidden_filters' %>
    <noscript>
      <%= submit_tag 'submit', :id => 'per_page_submit' %>
    </noscript>


  
  <h2 id="results_label">
    <%= results_text(params[:per_page], params[:page], @response.response['numFound']) %>
    <%= pluralize(@response.response['numFound'], "result", "results sorted by ") %>
  </h2>
    <% form_tag root_path, :method=>:get, :class=>'sort' do %>
      <%= select_tag(:sort, options_for_select(Blacklight.config[:sort_fields], h(params[:sort])), :onchange => 'this.form.submit()') %>
      <%= hidden_field_tag :q, params[:q], :id => 'sort_q' %>
      <%= hidden_field_tag(:qt, params[:qt], :id => 'sort_qt') %>
      <%= hidden_field_tag(:per_page, params[:per_page].nil? ? Blacklight.config[:index][:num_per_page] : params[:per_page], :id => 'sort_per_page') %>
	  <%= hidden_field_tag(:fq, params[:fq], :id => 'sort_fq') unless params[:fq].nil? %>
      <%= render :partial => 'catalog/hidden_filters' %>
      <noscript>
        <%= submit_tag 'submit', :id => 'sort_submit' %>
      </noscript>
    <% end %>
  <% end %>
  </div>
<div class="pagination">
  <h2>Results navigation</h2>
  <%= will_paginate @response.docs, :page_links => false, :class => 'prev_next_links' %>
  <%= will_paginate @response.docs, :container => false %>
</div>

<%- if params[:view] == 'list' -%>
  <%= render :partial=>'document_list' %>
<%- else -%>
  <%= render :partial=>'document_gallery' %>
<%- end -%>

<% sidebar_items << capture do %>
  <%= render :partial=>'facets' %>
<% end %>

<script type="text/javascript">
  printGBSCall(standard_nums);
</script>
<%= render :partial=>'solr_request' %>
<% end %>
