
<%# In Searchworks, this is only displayed if you're not on the home page.  Different "home page" stuff is displayed otherwise-%>
<% @page_title = "#{application_name} Search Results" %>
  <%= render :partial=>'did_you_mean', :locals => {:query => params[:q]} %>
<% unless @response.response['numFound'].to_i < 2 %>
<div class="pagination">
  <h2>Results navigation</h2>
  <%= will_paginate @response.docs, :renderer => 'PrevNextLinks', :class => 'prev_next_links' %>
  <%= will_paginate @response.docs, :class => 'windowed_links' %>
  <% form_tag root_path, :method=>:get, :class=>'sort' do %>
    <label>Sort by:</label>
    <%= select_tag(:sort, options_for_select(Blacklight.config[:sort_fields], h(params[:sort])), :onchange => 'this.form.submit()') %>
    <%= hidden_field_tag :q, params[:q], :id => 'sort_q' %>
    <%= hidden_field_tag(:qt, params[:qt], :id => 'sort_qt') %>
    <%= hidden_field_tag(:per_page, params[:per_page].nil? ? Blacklight.config[:index][:num_per_page] : params[:per_page], :id => 'sort_per_page') %>
  <%= hidden_field_tag(:fq, params[:fq], :id => 'sort_fq') unless params[:fq].nil? %>
    <%= render :partial => 'catalog/hidden_filters' %>
    <noscript>
      <%= submit_tag 'submit', :id => 'sort_submit' %>
    </noscript>
  <% end %>
  <div class="list_gallery_toggle">
    <%=
      link_to_unless(params[:view] == 'list', 'List', params.merge({:view => 'list'}), {:class => 'list_toggle'}) do |name|
        content_tag(:span, name, {:class => 'list_toggle'})
      end
    %>
    <%=
      link_to_unless(params[:view].blank?, 'Gallery', params.merge({:view => nil}), {:class => 'gallery_toggle'}) do |name|
        content_tag(:span, name, {:class => 'gallery_toggle'})
      end
    %>
  </div>
</div>

<%- if params[:view] == 'list' -%>
  <%= render :partial=>'document_list' %>
<%- else -%>
  <%= render :partial=>'document_gallery' %>
<%- end -%>

<% sidebar_items << capture do %>
  <%= render :partial=>'facets' %>
<% end %>

<script type="text/javascript">
  printGBSCall(standard_nums);
</script>
<%= render :partial=>'solr_request' %>
<% end %>
