<% @page_title = "#{document_show_html_title} - Spoken Word Services" %>
	<%= render :partial => 'search_form' %>
<div id="showHead">
  <div id="shlowUtils">
  <div class="tools"><%= render :partial => 'show_tools' %></div>
    <span class="back_to_cat"><%= link_back_to_catalog :label=>'&laquo; Back to Results'.html_safe %></span>
    <% if editor? %>
      <span class="edit-browse">
        <%= edit_and_browse_links %>
      </span>
    <% end %>
    <% if @previous_document || @next_document %>
      <div id="previousNextDocument">
	    <span class="previous"><%= link_to_previous_document(@previous_document) %></span>
			<%- if session[:search][:counter].to_i > 0 -%>
			  	<span class="counter"><%= session[:search][:counter].to_i %> of <%= format_num(session[:search][:total]) %></span>
			<%- end -%>
	    <span class="next"><%= link_to_next_document(@next_document)%></span>	
      </div>
    <% end %>
  </div>
</div>
<div id="document">
  <div id="doc_<%= @document[:id] %>">
    <div class="document">
      <%= hidden_field_tag "show_view", "true" %>
      <%= render_document_partial @document, params["action"] %>
    </div>
  </div>
</div>


<div class="lightboxContent" id="citation" style="display:none;">
  <%= render :partial => 'citation' %>
</div>
<div class="lightboxContent" id="email" style="display:none;">
  <%= render :partial => 'email_form' %>
</div>
<div class="lightboxContent" id="sms" style="display:none;">
  <%= render :partial => 'sms_form' %>
</div>
