<form id="add_grant" action="<%= grants_path(params[:asset_id],:content_type=>params[:content_type]) %>" method="post" accept-charset="utf-8">

<%= hidden_field_tag 'asset_id', params["asset_id"] %>

<dl>
	 <dt>
		<%= fedora_field_label("descMetadata", [:grant], "Add a new grant") %>
   </dt>
   <dd class="multi_inline grant">
 	    <%= fedora_text_field(@document_fedora,"descMetadata", [:grant], :multiple=>false) %>
	 <dd>
</dl>

<div class="form-control"><%= submit_tag "Add Grant", {:id => "addGrant"} %></div>

</form>
