%form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article"), :method=>"post","data-resourceType"=>"hydrangea_article", "accept-charset"=>"utf-8"}

  = editable_metadata_field(@document_fedora, "descMetadata", :title, :label => "Title:")
  = editable_metadata_field(@document_fedora, "descMetadata", :title_language, :label => "Language:")
  
  // !! Need split button for creatin new person/organization/conference
  
  = render :partial=>"edit_person", :collection=>@document_fedora.datastreams["descMetadata"].persons
  = render :partial=>"edit_organization", :collection=>@document_fedora.datastreams["descMetadata"].organizations
  = render :partial=>"edit_conference", :collection=>@document_fedora.datastreams["descMetadata"].conferences