%form#document_metadata{ :action=>url_for(:action=>"update", :controller=>"assets", :content_type=>"hydrangea_article"), :method=>"post","data-resourceType"=>"hydrangea_article", "accept-charset"=>"utf-8"}
  %dl
    =# hidden_form_tag "content_type", :value=>"hydrangea_article"
    - title = custom_editable_metadata_field(@document_fedora, "descMetadata", [:title_info, :main_title], :label => "Title:", :multiple=>true)
    %dt
      %label{:for=>"title"}
        = title[:label]
    %dd#title
      = title[:field]
    
    - language = custom_editable_metadata_field(@document_fedora, "descMetadata", [:title_info, :language], :label => "Language:")
    %dt
      %label{:for=>"language"}
        = language[:label]
    %dd#language
      = language[:field]
  
  // !! Need split button for creatin new person/organization/conference
  
  = render :partial=>"mods_articles/edit_person", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:person)
  = render :partial=>"mods_articles/edit_organization", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:organization)
  = render :partial=>"mods_articles/edit_conference", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:conference)
  
  - abstract = custom_editable_metadata_field(@document_fedora, "descMetadata", :abstract, :label => "Abstract:", :type=>:text_area, :multiple=>false)
  %dt
    %label{:for=>"abstract"}
      = abstract[:label]
  %dd#abstract{"data-datastream-name"=>"descMetadata"}
    = abstract[:field]
    
  = render :partial=>"mods_articles/edit_journal", :collection=>@document_fedora.datastreams_in_memory["descMetadata"].retrieve(:journal)
  
  / - original_url = custom_editable_metadata_field(@document_fedora, "descMetadata", :original_url, :label => "Original URL:")
  /  %dt
  /    %label{:for=>"original_url"}
  /      = original_url[:label]
  /  %dd#original_url
  /    = original_url[:field]
    
  - topic_tag = custom_editable_metadata_field(@document_fedora, "descMetadata", :topic_tag, :label => "Topic Tags:",:multiple=>true)
  %dt
    %label{:for=>"topic_tag"}
      = topic_tag[:label]
  %dd#topic_tag
    = topic_tag[:field]
    
  / - collection = custom_editable_metadata_field(@document_fedora, "properties", :collection, :label => "Collection:")
  / %dt
  /   %label{:for=>"collection"}
  /     = collection[:label]
  / %dd#collection
  /   = collection[:field]