<%# default partial to display solr document fields in catalog show view -%>

<%- stylesheet_links << "../javascripts/date-picker/css/datepicker" %>
<%- javascript_includes << infusion_javascripts(:inline_edit, :extras=>[:inline_editor_integrations], :debug=>true, :render_html=>false) %>
<%- javascript_includes << "jquery.jeditable.mini" %>
<%- javascript_includes << "date-picker/js/datepicker" %>
<%- javascript_includes << "catalog/edit" %>

<%- extra_head_content << capture do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(document).catalogEdit();
    });
  </script>
<% end %>

<div class="document_viewer" id="cover_container">
  <dl class="defList">
    <%= get_data_with_label(document, "ID:", 'id') %>
    <dt>Download:</dt>
    <dd id="downloads">
	  <% if @downloadables %>
		<%= list_downloadables(@downloadables, @mime_types) %>
	  <% else %>
	    <ul>
          <% %>
        </ul>
        <%= async_load_tag(asset_downloads_path(params[:id]), 'downloads') %>
      <%- end -%>
    </dd>
    <%= get_data_with_label(document, "Copyright:", 'rights_t') %>
    <%= get_data_with_label(@document, "Series:", 'series_facet') %>
    <%= get_data_with_label(@document, "Subseries:", 'subseries_facet') %>
    <%= get_data_with_label(@document, "Box:", 'box_facet') %>
    <%= get_data_with_label(@document, "Folder:", 'folder_facet') %>
  </dl>
</div>
<div class="<%= params[:action]%>_details">
  <%= render :partial => "hydrangea_datasets/default_details", :locals => {:document => document}%>
</div>


<% sidebar_items << capture do %>
  <%#= render :partial=>"catalog/_show_partials/facets", :locals=>{:document=>document, :facets_display_heading => "This document refers to:"} %>
  <%#= render :partial=>'facets' %>
<% end %>

