<% document = document.nil? ? @document : document %>
<% document_fedora = document_fedora.nil? ? @document_fedora : document_fedora %>
<% contributor_type ||= nil %>
<% role_type ||= (defined?(roles) && !roles.empty?) ? roles.first : nil %>
<% if defined?(roles) && contributor_type==:person && roles.include?("author") && !get_persons_from_roles(document, roles).empty? %>
  <%= render :partial=>"contributors/edit_person_by_role", :collection=>get_persons_from_roles(document, roles), :locals=>{:document=>document, :document_fedora=>document_fedora} %>
  <div class="add_contributor_link <%= roles.map{|r| r.downcase.gsub(' ','_') }.join(' ') %> <%= @content_type%>">
    <%= link_to(image_tag('/images/add.png'), new_asset_contributor_path(:asset_id=>params[:id], :contributor_type=>"person", :content_type => @content_type, :role_type=>role_type)) %>
  </div>
<% elsif defined?(roles) && contributor_type==:person && !get_persons_from_roles(document,roles).empty? %>
  <%= render :partial=>"contributors/edit_person_by_role", :collection=>get_persons_from_roles(document, roles), :locals=>{:document=>document, :document_fedora=>document_fedora} %>
  <div class="add_contributor_link <%= roles.map{|r| r.downcase.gsub(' ','_') }.join(' ') %> <%= @content_type%>">
    <%= link_to(image_tag('/images/add.png'), new_asset_contributor_path(:asset_id=>params[:id], :contributor_type=>"person", :content_type => @content_type, :role_type=>role_type)) %>
  </div>
<% elsif defined?(roles) && contributor_type==:organization && !get_organizations_from_roles(document, roles).empty? %>
  <%= render :partial=>"contributors/edit_organization_by_role", :collection=>get_organizations_from_roles(document,roles), :locals=>{:document=>document, :document_fedora=>document_fedora} %>
  <div class="add_contributor_link <%= roles.map{|r| r.downcase.gsub(' ','_') }.join(' ') %> <%= @content_type%>">
    <%= link_to(image_tag('/images/add.png'), new_asset_contributor_path(:asset_id=>params[:id], :contributor_type=>"organization", :content_type => @content_type, :role_type=>role_type)) %>
  </div>
<% else %>
  <% if contributor_type == :person %>
    <% if defined?(roles) && roles.include?( "author")  %>
      <%= render :partial=>"contributors/edit_#{contributor_type.to_s}",  :collection=>document_fedora.descMetadata.find_by_terms(contributor_type), :locals=>{:document=>document, :document_fedora=>document_fedora}  %>

		<% elsif defined?(roles).nil? %>
 <%= render :partial=>"contributors/edit_person", :collection=>document_fedora.descMetadata.find_by_terms(:person), :locals=>{:document=>document, :document_fedora=>document_fedora} %>
    <%#= link_to "Add a Person", new_asset_contributor_path(:asset_id=>params[:id], :contributor_type=>"person") %>
	    <% end %>
		
  <% elsif contributor_type == :organization %>
     <%# do nothing %>
  <% else %>
		<!-- When its a person and no roles specified -->	 
    <%= render :partial=>"contributors/edit_person", :collection=>document_fedora.descMetadata.find_by_terms(:person), :locals=>{:document=>document, :document_fedora=>document_fedora} %>
    <%#= link_to "Add a Person", new_asset_contributor_path(:asset_id=>params[:id], :contributor_type=>"person") %>

    <%= render :partial=>"contributors/edit_organization", :collection=>document_fedora.descMetadata.find_by_terms(:organization), :locals=>{:document=>document, :document_fedora=>document_fedora} %>
  <% end %>
  <% unless params[:action] == "new" %>
    <% if defined?(roles) %>
      <%= link_to(image_tag('/images/add.png'), new_asset_contributor_path(:asset_id=>params[:id], :contributor_type=>contributor_type.to_s, :role_type=>role_type, :content_type => @content_type)) %>
    <% else %>
      <%= link_to(image_tag('/images/add.png'), new_asset_contributor_path(:asset_id=>params[:id], :contributor_type=>contributor_type.to_s, :content_type => @content_type)) %>
    <% end %>
  <% end %>
<% end %>

