<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= h(@page_title || "University of Hull Digital Repository") %></title>
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= javascript_include_tag 'jquery-1.4.2.min.js', 'blacklight', 'application', 'accordion', :plugin=>:blacklight %>
	<!--<%= javascript_include_tag 'searchworks' %>-->
	<%= javascript_include_tag 'togglejquery' %>
	<%= javascript_include_tag 'local' %>
    <%= stylesheet_link_tag 'yui', 'application', :plugin=>:blacklight, :media=>'all' %>
    <%= stylesheet_link_tag 'application', :media=>'all' %>
    <%= stylesheet_link_tag 'local', :media=>'all' %>
  </head>
  
  <body>

	<div id="doc4" class="yui-t2">

	<div id="site-title">Digital Repository</div>	    
	<div id="logo"></div>

	<div id="uni-nav-links">
		<ul>
			<li>
				<a href="http://www.hull.ac.uk/" target="_blank">UoH Home</a>
			</li>
			<li>
				<a href="http://library.hull.ac.uk/"  target="_blank">Library</a>
			</li>
			<li>
				<a href="http://edocs.hull.ac.uk/">eDocs</a>
			</li>
			<li>
				<a href="about.html">About</a>
			</li>
			<li>
				<a href="contact.html">Contact</a>
			</li>
		</ul>

		 <div id="blacklight-user-links" align="right">
		    <%= render :partial=>'/user_util_links' %>
		 </div>
	</div>

	<div id="hd">

		<div class="yui-g">
			<div class="yui-u first">
				<h1 class="site_title"><%= link_to application_name, root_path %><%= (params[:controller] == "catalog" and !params[:id]) ? "<span id='results_text'>Search Results</span>" : "" %></h1>
			</div>
		 	<!-- <div class="yui-u">
				<%= render :partial=>'/user_util_links' %>
			</div> -->
		</div>
	</div>
	    
	<div id="bd">
      	
      	<div id="yui-main">
          <div class="yui-b">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        
        <div class="yui-b"><%= sidebar_items.join('') %></div>
        
	</div>
	    
	<div id="ft"><%= @footer %></div>

		<div id="hullFooter">  	
			<table class="tableNoBorder" width="100%"  border="0">
				<tr>
					<td align="left" valign="top" width="36%" >
						&copy; 2008 - <%= Time.now.year %><br/>
						<a href="http://www.hull.ac.uk" target="_blank">The University of Hull</a><br>and the <a href="https://fedora-commons.org/confluence/display/hydra/" target="_blank">Hydra Project</a>
					</td>
					<td align="center" valign="top" width="20%" >
						<a href="http://projectblacklight.org/" target="_blank"><img src="/images/powered_by_hydra.png" /></a>
					</td>
					<td align="right" valign="top" width="40%" >
						Version 0.1
					</td>
				</tr>
			</table>
		</div>  

	</div>

    <div id="lightboxContainer" style="display:none;">
    </div>

  </body>
  
</html>
