<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= h(@page_title || application_name) %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="<%= url_for :controller=>'catalog',:action => 'opensearch', :format => 'xml', :only_path => false %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    <%= javascript_include_tag 'jquery-1.3.1.min.js', 'blacklight', 'application', 'lightbox', :plugin=>:blacklight %>
    <%= stylesheet_link_tag 'yui', :plugin=>:blacklight %>
    <%= stylesheet_link_tag 'application','styles', :media=>'all' %>
    <%= javascript_include_tag 'searchworks' %>
    <%#= javascript_include_tag :defaults %>

        <script type="text/javascript">
            jQuery(document).ready(function () {
                
                /* Example 3 - note the difference in the syntax */
                /* multiple inline edit requires each editable text object to be wrapped again inside another element */                
                var multiEdit = fluid.inlineEdits("#multipleEdit", {
                    selectors : {
                        text : ".editableText",
                        editables : "p"
                    },
                    useTooltip : true,
                    tooltipDelay : 500,
                    tooltipText: "Click to edit"
                });

            });
        </script>

  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:controller] == 'catalog' and params[:action] == 'index' %>
    <body onload="$('input#q').focus();">
  <% else %>
    <body>
  <% end %>
    <div class="sul-banner">
      <a href="http://library.stanford.edu" title="SULAIR Home"><%= image_tag("sulair_logo.jpg", :border=>0, :alt=>'SULAIR', :id => 'banner-logo') %></a>
      <span class="banner-links" id="su-banner">
      <a href="http://socrates.stanford.edu">SOCRATES (SU CATALOG)</a> | 
      <a href="http://library.stanford.edu/ejournals">E-JOURNALS</a> | 
      <a href="http://library.stanford.edu/sulapp/databases/index.jsp">DATABASES</a> | 
      <a href="http://library.stanford.edu/cgi-bin/tellus.cgi ">ASK US</a>
      </span>
    </div>  
	  <div id="doc2" class="yui-t2">
	    
	    <div id="hd">
        <div class="yui-g">
          <%= render :partial => 'shared/header' %>
        </div>
      </div>
	    
	    <div id="bd">
      	
      	<div id="yui-main" class="content-bg">
          <div class="yui-b" id="mid_content">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        
        <div class="yui-b">
          <%= sidebar_items.join('') %>
        </div>
        
	    </div>
	    <div id="ft">
      <br/>
      powered by <a href="http://projectblacklight.org">Blacklight</a>
      <hr width="150"/>
      © <a href="http://www.stanford.edu">Stanford University</a>. Stanford, California 94305. (650) 725-1064. <span class="TermsOfUse"><a href="http://library.stanford.edu/about_sulair/termsofuse.html">Terms of Use</a> | <a href="http://stanford.edu/site/copyright.html">Copyright Complaints</a></span>
        <% # @footer -%>
      </div>
	    
	  </div>
    <div class="lightboxContent" id="feedback" style="display:none;width:450px;left:35%;top:15%;">
      <div class="lightboxTitle">
        <div class="lightboxBack">
          <%= link_to "Close [X]", "#", {:class => "lightboxLink", :name => 'feedback'} %>
        </div>
        Feedback
      </div>
      <!-- %= render :partial => 'feedback/feedback_form' %-->
    </div>
    <div id="lightboxContainer" style="display:none;"></div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ?
      "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost +
      "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var firstTracker = _gat._getTracker("UA-7219229-9");
        firstTracker._trackPageview();
        var secondTracker = _gat._getTracker("UA-7219361-1");
        secondTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
  
</html>